.container {
   width: 80%;
   background: #FFFFFF;
   border: 1px solid #9B9B9B;
   border-radius: 4px;
   margin: 70px auto auto;
   padding:30px;
}
.container p.head {
   font-weight: 700;
   font-size: 20px;
}
.forminput {
   width: 50%;
}
.forminput .input {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 10px;
   align-items: center;
   accent-color: #DB3022;
}
.forminput input {
   border: 1px solid #9B9B9B;
   filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
   border-radius: 4px;
   height: 48px;
   margin-left: 10px;
   width: 60%;
   padding: 20px;
}
.forminput input[type='radio']{
   width: 18px;
   height: 18px;
   margin-left: 25px;
}
.input input[type="radio"]{
   accent-color: #DB3022;
   margin-right: 5px;
   
}
.button {
   background-color : #DB3022;
   color : white;
   height: 48px;
   border : none;
   width: 60%;
   border-radius: 24px;
   padding: auto 20px;
}
.buttonwhite {
   background-color : white;
   color : #DB3022;
   height: 48px;
   border : 2px solid #DB3022;
   width: 60%;
   border-radius: 24px;
   padding: auto 20px;
}
.buttonaddress {
   width: 100%;
   height: 80px;
   border: 2px dashed #9B9B9B;
   color: #9B9B9B;
   background-color: #FFFFFF;
   border-radius: 10px;
}
.address {
   width: 100%;
   margin-top : 20px;
   padding: 20px;
   border : 1px solid #DB3022;
}
.image {
   width: 150px;
   height: 150px;
   border-radius: 50%;  
}

@media screen and (max-width : 480px) {
   .container {
      width: 100%;
      margin : 0 0 10px 0;
      padding : 50px 25px;
   }
   .myform {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
   }
   .myform:last-child {
      width: 100% !important;
   }
   .buttonwhite {
      margin : 20px auto !important;
      width: 100% !important;
   }
   .myform .forminput {
      width: 100% !important;
      display: flex;
      flex-direction: column;
   }
   .myform .forminput .input {
      display: flex;
      flex-direction: column;
   }
   .forminput input[type='radio']{
      width: 18px;
      height: 18px;
      margin-left: 0;
      display: inline;
   }
   .myform .forminput label {
      display: block;
   }
   .myform .forminput input {
      width: 100%;
      text-align: center;
   }
}