.navbar {
   display: flex;
   width: 170px;
   justify-content: space-between;
   position: relative;
}

.imgProfile {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   cursor: pointer;
}
.navbar button {
   width: 100px;
   height: 35px;
   border-radius: 40px;
   margin-left: 7px;
   cursor: pointer;
   font-size: 14px;
}
button.login {
   color : white;
   background-color: #DB3022;
   border: none;
}
button.signup {
   color: #9B9B9B;
   background-color: white;
   border: 1px solid #9B9B9B;
}
.navbar .popup {
   width: 15px;
   font-size: 9px;
   height: 15px;
   background-color: #DB3022;
   color: white;
   line-height: 18px;
   text-align: center;
   border-radius: 50%;
   animation : hithere 1s ease infinite;
   position: absolute;
   bottom:0;
   left:0;
}

@keyframes hithere {
   30% { transform: scale(1.2); }
   40%, 60% { transform: rotate(-20deg) scale(1.2); }
   50% { transform: rotate(20deg) scale(1.2); }
   70% { transform: rotate(0deg) scale(1.2); }
   100% { transform: scale(1); }
 }

 @media screen and (max-width : 480px) {
   .navbar button {
      width: 55px;
      border-radius: 4px;
   }
   .navbar {
      justify-content: flex-end;
   }
   .bell , .message {
      display: none;
   }
   .cart {
      margin-right: 10px;
   }
 }