.body {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 40px
}
.container {
   width: 80%;
   margin: 0 auto;
   display : flex;
   flex-direction: column;
   align-items: center;
}
.container > p {
   font-weight: 700;
   font-size: 1.1rem;
   margin: 30px auto
}
.container input {
   margin: 10px auto;
   animation : come 200ms ease-in forwards;
}
.container a {
   color : #DB3022;
   font-size : 1.1rem
}
.selector {
   margin-bottom: 30px;
}
.selector button {
   width: 123px;
   height: 48px;
   color : #9B9B9B;
   border: 1px solid #9B9B9B;
}
.selector button.customer {
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
}
.selector button.seller {
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
}
.selector button.active {
   background-color: #DB3022;
   color : white;
   border: none;
}
.container > button {
   margin-top: 30px;
}

@media screen and (max-width : 480px) {
   .container {
      width: 95%;
   }
   .container input {
      width: 100%;
   }
   .container > button {
      width: 100%;
   }
}

@keyframes come {
   0% {
      transform: scaleY(0);
   }
   80%{
      transform: scaleY(1.1);
   }
   100% {
      transform: scaleY(1);
   }
}