.sidebar {
   width: 25%;
   bottom:0;
   top:0;
   padding-top: 80px;
   position: fixed;
   margin-bottom:0;
   background-color: white;
}
.profile {
   width: 60%;
   position: relative;
   margin-left: auto;
   display: flex;
   margin-bottom: 70px;
   align-items: center;
   margin-right: 25px;
   margin-top : 50px;
}
.profile .profileImage {
   width: 60px;
   height: 60px;
   min-width: 60px;
   max-width: 60px;
   overflow: hidden;
   border-radius: 50%;
}
.profileImage img {
   width: 100%;
}
.identity {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-left: 20px;
}
.identity p {
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #222;
   margin: 0;
}
.identity button {
   border: none;
   outline: none;
   background: none;
   width:auto;
   text-align: left;
   transition: text 100ms ease-out;
}
.identity button img {
   margin-right: 5px;
}
.identity button:hover {
   text-decoration: underline;
}
.menu {
   width: 60%;
   height: 100%;
   position: relative;
   margin-left: auto;
   display: flex;
   flex-direction: column;
   margin-bottom: 70px;
   margin-right: 25px;
}
.listmenu {
   display: flex;
   align-items: center;
   margin-bottom : 20px;
   cursor: pointer;
}
.listmenu p {
   margin:0;
   margin-left: 12px;
   color :    #9B9B9B;
}