.container {
   min-height: calc(100vh - 80px);
   height: auto;
   margin: 0 auto;
   margin-left: 25%;
   background-color: #F5F5F5;
   display : flex;
   position: relative;
   top : 80px;
   padding-bottom: 50px;
}