.checkbox{
   width: 20px;
   height: 20px;
   outline: none;
   border: 1px solid #8E8E93;
   appearance: none;
   border-radius: 4px;
   transition: all 100ms ease-out;
}
.checkbox:checked {
   outline: none;
   border:none;
   background-color: #DB3022;
}